In [ ]:
import pandas as pd
import numpy as np
import joblib
import sklearn
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

#IUM - Raport końcowy

*Jakub Kordel (300233), Łukasz Reszka (300257)*

### Proces budowy modeli

W ramach zadania przygotowaliśmy 4 modele: model losowy, podstawowy model regresji liniowej, model regresji liniowej *Elastic Net* oraz model nieliniowy *SVR*. 

Budowa modeli odbyła się w następujących krokach:


*  przygotowanie danych
*  wybór modeli 
*  zaimportowanie wybranych modeli z biblioteki sklearn
*  wytrenowanie modeli na przygotowanych danych.

Przygotowane dane podzieliliśmy na dwa zbiory: trenujący i uczący. Po wytrenowaniu modeli na zbiorze trenującym oceniliśmy modele poprzez wyliczenie błędu średniokwadratowego pomiędzy przewidywanymi wartościami przez model a rzeczywistymi wartościami danej wyjściowej.

###Przygotowanie danych

Przed przystąpieniem do uczenia modeli, otrzymane dane poddano następującemu procesowi obróbki:

1.   konwersja formatu pliku z *.jsonl* na *.csv* przy użyciu zewnętrznych narzędzi
2.   łączenie danych z plików *users.csv*, *sessions.csv* i *products.csv* w jedną tabelę zapisaną do pliku *merged.csv*. Łączenie danych realizuje specjalny program, napisany przez nas w języku *C++* (kod dołączono w *.zip*). Przy łączeniu pomijane są rekordy dotyczące sesji użytkowników, które mają braki wartości w poszczególnych atrybutach. Efekt łączenia:

In [ ]:
merged_df = pd.read_csv("merged.csv") # "merged.csv" was previously uploaded into 'content' folder on Google Colab  
merged_df.head()

   user_id     city  ...  viewed_products  spent_money_next_month
0      233    Radom  ...                0                2340.090
1      235  Wrocław  ...                5                 700.332
2      246    Radom  ...                8                 208.250
3      247   Poznań  ...                2                1024.250
4      248   Kraków  ...                1                5338.360

[5 rows x 8 columns]

3.   wczytanie danych do klasy *DataProcessor* napisanej w języku *Python*  i dalsza obróbka:


*   usunięcie zbędnych kolumn *year* oraz *user_id*
*   kodowanie wskaźnikowe atrybutów dyskretnych *month* oraz *city*
*   przeskalowanie wartości atrybutów *spent_money* i *spent_money_next_month*  z zastosowaniem logarytmu o podstawie 10
*   zaokrąglanie większych wartości atrybutów *viewed_products* i *bought_products*
*   podział danych na zbiór testowy i trenujący.

In [ ]:
class DataProcessor:
    def __init__(self, merged_framedata):
        self.merged_df = merged_framedata
        self._set_training_testing_sets()

    def get_training_testing_sets(self):
        return self.training_set, self.testing_set

    def _set_training_testing_sets(self):
        self._process_merged_data()
        self.testing_set = self.merged_df.loc[::3, :]  # every third row goes into testing set
        self.training_set = self.merged_df  # rest of data goes into training set
        self.training_set = pd.concat([self.training_set, self.testing_set, self.testing_set]).drop_duplicates(
            keep=False)

    def _process_merged_data(self):
        self.merged_df.pop('year')  # remove column 'year'
        self.merged_df.pop('user_id')  # remove column 'user_id'
        self._one_hot_encode_attribute('month')
        self._one_hot_encode_attribute('city')
        self._log10_attribute('spent_money')
        self._log10_attribute('spent_money_next_month')
        self._round_attribute('bought_products', 10)
        self._round_attribute('viewed_products', 50)

    def _one_hot_encode_attribute(self, attribute_name):
        encoded_attr_numb = len(self.merged_df[attribute_name].unique())
        one_hot_encoded_attr = pd.get_dummies(self.merged_df[attribute_name], prefix=attribute_name)
        self.merged_df = pd.concat([self.merged_df, one_hot_encoded_attr], axis=1).drop(attribute_name, axis=1)
        cols = self.merged_df.columns.tolist()
        cols = cols[-encoded_attr_numb:] + cols[:-encoded_attr_numb]  # move columns to the beginning
        self.merged_df = self.merged_df[cols]

    def _log10_attribute(self, attribute_name):
        for i, val in enumerate(self.merged_df[attribute_name]):
            if val != 0:
                self.merged_df.at[i, attribute_name] = np.log10(self.merged_df.at[i, attribute_name])

    def _round_attribute(self, attribute_name, numb_since_round):
        for i, val in enumerate(self.merged_df[attribute_name]):
            if val > numb_since_round:
                if val <= 100:
                    self.merged_df.at[i, attribute_name] = int(round(self.merged_df.at[i, attribute_name], -1))
                else:
                    self.merged_df.at[i, attribute_name] = 50 * int(round(self.merged_df.at[i, attribute_name] / 50))

W etapie 3. obróbki korzystano z biblioteki *Pandas* oraz *Numpy*.

Poniżej efekt obórki - zbiór trenujący i testowy:

In [ ]:
data_proc = DataProcessor(merged_df)
training_set, testing_set = data_proc.get_training_testing_sets()
training_set.head()

   city_Gdynia  city_Kraków  ...  viewed_products  spent_money_next_month
1            0            0  ...                5                2.845304
2            0            0  ...                8                2.318585
4            0            1  ...                1                3.727408
5            0            0  ...                0                2.015150
7            0            1  ...                1                3.308980

[5 rows x 23 columns]

In [ ]:
testing_set.head()

    city_Gdynia  city_Kraków  ...  viewed_products  spent_money_next_month
0             0            0  ...                0                3.369233
3             0            0  ...                2                3.010406
6             0            0  ...                0                3.309449
9             0            0  ...                0                3.794153
12            0            0  ...                0                2.924079

[5 rows x 23 columns]

### Modele

#### Model losowy

Zaimplementowany przez nas model losowy ma możliwość losowania wartości wyjściowych z dwóch rozkładów jednostajnego oraz normalnego.
Dla ustawienia *type = 0* używany jest rozkład normalny a dla ustawienia *type = 1* rozkład jednostajny. Po dokładnym przeanalizowaniu rozkładu wartości wydanych pieniędzy w następnym miesiącu przez użytkowników sklepu zdecydowaliśmy, że będziemy korzystać z rozkładu jednostajnego.

Parametr *zeroProb* oznacza prawdopodobieństwo z jakim wartością wylosowaną będzie 0. Takie rozwiązanie jest uzasadnione tym, że często klienci sklepu nie wydawali nic w danym miesiącu, a jeżeli już wydawali to powyżej wartości *min_val*.

Model losowy został stworzony jedynie dla celów porównawczych.

In [ ]:
class RandomModel:
    def __init__(self, mean, standard_deviation, zeroProb, min_val, max_val, type):
        self.mean = mean
        self.standard_deviation = standard_deviation
        self.zeroProb = zeroProb
        self.min_val = min_val
        self.max_val = max_val
        self.type = type

    def predict(self, x):
        predictions = []
        for i in range(0,len(x)):
            if np.random.uniform(0, 1, 1) < self.zeroProb:
                predictions.append(0.0)
            else:
                if self.type == 0:
                    predictions.append((np.random.normal(self.mean, self.standard_deviation, 1))[0])
                elif self.type == 1:
                    predictions.append(np.random.uniform(self.min_val, self.max_val, 1)[0])
        return predictions

    def evaluate(self, X, y):
        return mean_squared_error(y, self.predict(X))

#### Podstawowy model regresji liniowej

In [ ]:
from sklearn import linear_model

class LinearRegressionModel:
    def __init__(self):
        self.model = linear_model.LinearRegression()

    def train(self, X, y):
        self.model.fit(X, y)

    def save(self, filename):
        joblib.dump(self.model, filename)

    def load(self, filename):
        self.model = joblib.load(filename)

    def predict(self, x):
        return self.model.predict(x)

    def evaluate(self, X, y):
        return mean_squared_error(y, self.predict(X))

#### Model regresji liniowej *Elastic Net*

Zregularyzowany model regresji liniowej, który łączy parametry kary *L1* i *L2* z modeli *Lasso* i *Ridge*.

In [ ]:
from sklearn.linear_model import ElasticNet

class ElasticNetModel:
    def __init__(self, a, l1_r, sel):
        self.model = ElasticNet(alpha = a, l1_ratio = l1_r, selection = sel)

    def train(self, X, y):
        self.model.fit(X, y)

    def save(self, filename):
        joblib.dump(self.model, filename)

    def load(self, filename):
        self.model = joblib.load(filename)

    def predict(self, x):
        return self.model.predict(x)

    def evaluate(self, X, y):
        return mean_squared_error(y, self.predict(X))

#### Model nieliniowy *SVR*

In [ ]:
from sklearn.svm import SVR

class SvrModel:
    def __init__(self, Cparam, epsilonParam, kerParam, gammaParam, coefParam):
        self.model = make_pipeline(StandardScaler(), SVR(C=Cparam, epsilon=epsilonParam, kernel=kerParam, gamma=gammaParam, coef0=coefParam))

    def train(self, X, y):
        self.model.fit(X, y)

    def save(self, filename):
        joblib.dump(self.model, filename)

    def load(self, filename):
        self.model = joblib.load(filename)

    def predict(self, x):
        return self.model.predict(x)

    def evaluate(self, X, y):
        return mean_squared_error(y, self.predict(X))

### Ocena modeli

Wykorzystując zbiór testowy oceniliśmy modele poprzez wyliczenie błędu średniokwadratowego ***MSE*** pomiędzy przewidywanymi przez model wartościami wydanych pieniędzy w następnym miesiącu a prawdziwą wartością wydaną przez klienta w następnym miesiącu. Poniższy skrypt wypisuje błędy średniokwadratowe dla każdego z modeli. Należy pamiętać, że wartości były przeskalowane logarytmicznie, zatem błąd też jest odpowiednio mniejszy.

In [ ]:
x_train = training_set.loc[:, :"viewed_products"]
y_train = training_set.loc[:, "spent_money_next_month"]
x_test = testing_set.loc[:, :"viewed_products"]
y_test = testing_set.loc[:, "spent_money_next_month"]

modelSVR = SvrModel(Cparam = 1, epsilonParam = 0.5, kerParam = "rbf", gammaParam = 'scale', coefParam = 0.0)
modelEnm = ElasticNetModel(a = 0.001, l1_r = 0.8, sel = 'cyclic')
modelRandom = RandomModel(2.89358, 0.70307, float(276.0/1706.0), 1.7, 3.9, 1)
modelLrm = LinearRegressionModel()


modelSVR.train(x_train, y_train)
modelEnm.train(x_train, y_train)
modelLrm.train(x_train, y_train)

print("Błędy średniokwadratowe:")
print("Model losowy: " + str(modelRandom.evaluate(x_test, y_test)))
print("Podstawowy model liniowy: " + str(modelLrm.evaluate(x_test, y_test)))
print("Elastic Net: " + str(modelEnm.evaluate(x_test, y_test)))
print("SVR model: " + str(modelSVR.evaluate(x_test, y_test)))

Błędy średniokwadratowe:
Model losowy: 2.771819292239044
Podstawowy model liniowy: 1.3508289674672567
Elastic Net: 1.347662844167026
SVR model: 1.3253787868554674

Najgorszy okazał się model losowy co świadczy o tym, że zbudowane modele nauczyły się pewnych zależności pomiędzy danymi wejściowymi a wyjściowymi. Model *Elastic Net* okazał się niewiele lepszy od zwykłego modelu regresji liniowej ale to tylko dla bardzo małego hiperparametru *alpha*. Zwiększanie hiperparametru *alpha* tylko zwiększa błąd. Natomiast hiperparametr *l1 ratio* nie zmienia za dużo. Najlepszy wynik osiągał dla *alpha* równego 0 co sprowadzało go do zwykłego modelu liniowego. Model nieliniowy *SVR* okazał się nieznacznie lepszy od modeli liniowych.

Poniżej znajduje się skrypt wyświetlający wartości wydanych pieniedzy w następnym miesiącu przewidywane przez najlepszy model oraz rzeczywiste wartości. Z poniższego porównania widać, że przewidywania mocno odbiegają od wartości rzeczywistych. Podejrzewamy, że z otrzymanych danych trudno jest otrzymać lepsze rezultaty.

In [208]:
def scaleBack(tab):
  scaledValues = []
  for i in tab:
    scaledValues.append(10**i)
  return scaledValues

print(scaleBack(modelSVR.predict(x_test)))

print(scaleBack(y_test))

[422.0629963575116, 375.8512049822998, 85.18805886015511, 422.0629963575116, 368.27781191270526, 283.82428908752144, 134.8191366949734, 177.52554089492202, 4.326519540174363, 19.61425265292431, 13.034873225119345, 36.744467485943176, 34.436204785624454, 13.890442564599224, 29.65345092735347, 155.80245378678944, 90.73799858211265, 399.4396784298413, 485.2982618803423, 484.35082774884285, 442.24709299059214, 478.08982685774566, 758.4419891396262, 268.2837891521312, 986.4831937229964, 291.9150482579324, 810.7647566473343, 376.740885840825, 276.0148315309379, 243.72480712019237, 245.98809957169001, 506.45046437873617, 294.69999248050516, 245.98809957169001, 245.98809957169001, 597.7240822955271, 266.7806053419339, 432.2195561085014, 564.4902057340727, 119.19568836290667, 165.03346293357177, 688.5121897269792, 398.0450402654534, 481.55498314454644, 649.4647386892613, 99.48574503917676, 752.7205517566221, 166.9376155506336, 306.5202868417371, 409.2355630787719, 599.766162809129, 1559.825700203044, 314.01079054593805, 184.54575521263132, 622.01596621824, 535.6759457160716, 429.3409169173227, 288.4727728764558, 512.5259573924967, 423.9100905097573, 716.7120328069004, 187.2935094662579, 563.8074651812412, 223.94217316917076, 757.2614155308181, 667.9758416706425, 413.0454839105355, 192.6132087277796, 677.246369643165, 539.5028663271175, 512.5259573924967, 273.0233768615672, 512.5259573924967, 627.8288584989497, 205.48936826538858, 243.3013337502081, 927.0124233400453, 249.79592390420333, 153.81746470079824, 267.46472554319274, 336.3890732412956, 83.80309485639779, 247.87047016840043, 1237.8787194736892, 327.3850940723583, 361.65466223101294, 310.5051287082471, 247.87047016840043, 119.92130357712487, 247.87047016840043, 132.32438546479207, 153.81746470079824, 129.91449808730354, 505.80756487475213, 315.96257096408925, 189.91427065279396, 596.0451424464006, 367.9332135636022, 345.7693830855539, 282.9624044542416, 881.168895934924, 83.80309485639779, 451.43851821348545, 225.25338792893186, 924.2054043043566, 319.4524156439113, 634.1029428344834, 180.49202071879597, 149.07750619915961, 346.25749706836194, 649.1391367444922, 298.92766639032305, 940.2686558976184, 425.7870065889804, 304.57509904831056, 1003.5416655062602, 805.7284854477957, 247.81578811986125, 680.7003963533268, 1542.6439474728247, 911.5010146956299, 1636.8073503151497, 949.3944890385749, 595.4304650466743, 593.7188635539262, 146.0946250978977, 1049.168169067263, 610.5859241732902, 652.708046421478, 752.090608589267, 409.97801657975674, 525.7437401619343, 767.0991475889681, 224.04981757304427, 689.5108630658277, 1260.6537772151485, 298.92766639032305, 1141.9628244440437, 1391.2408333924473, 782.7098444907954, 1021.4636298813667, 806.6130346362193, 678.13356223408, 377.4451865931294, 1326.9272305512388, 404.30479850704273, 194.09883784067412, 552.2437838325983, 683.6382735351898, 509.0148165664411, 157.46245763046826, 672.4420774997044, 849.1872552375263, 378.5920267575743, 174.8863598216861, 829.9580535767673, 349.53314510829404, 165.38903515659152, 500.9134172568882, 332.82373418365876, 1189.557484383773, 342.4859461705662, 490.34795888476714, 124.49231099263642, 926.9298342762589, 129.57302498063453, 119.58700323143096, 1779.9964944885294, 355.7445978549549, 234.33858696636818, 249.1224268671605, 935.0643224664086, 224.93629380934956, 346.82811357559336, 1475.020876651961, 164.71810234808748, 1319.233597344577, 165.38903515659152, 294.3395356666847, 390.65067404318637, 720.9469226074038, 413.022974759121, 303.22582192872994, 1693.9818916007207, 213.12447181298964, 151.55059441235815, 338.3548261693829, 220.57774278621554, 434.51532425713225, 447.7151905936809, 368.6813178183589, 2075.7371151805546, 600.6971132142861, 847.6250263132067, 923.4373885410802, 151.30657670672073, 531.6161878521888, 117.21877665712273, 697.385966340922, 166.47651535323158, 358.01297664560377, 619.4653521774061, 1158.672538539833, 319.46208667669816, 696.0977015565435, 2169.3967882889474, 461.86548906777875, 1119.5081553888976, 1078.3557353889544, 466.7903022252172, 166.97155796185683, 354.70282614666013, 204.85664925495902, 802.6791317109278, 1240.4333603154478, 103.6470815220785, 521.4175815119478, 3525.4700069698924, 284.497448205073, 497.6316957924112, 1018.8921620353359, 453.6910731567893, 148.4841497498915, 595.1027068324835, 698.4988601869726, 993.7921258056123, 982.746155422763, 345.1866553073065, 619.4653521774061, 376.1080937297143, 757.18198068434, 499.1263179142169, 841.1912417800573, 630.1630309255593, 2410.236918708805, 110.06744748810227, 219.83155808119943, 728.3372252773188, 1412.8582246196656, 1197.0475736882806, 524.6339870181176, 657.0228021823092, 177.70247156680753, 519.3805405208803, 304.7746896186257, 122.92283335718203, 148.4841497498915, 1682.862277443271, 393.1861449409141, 311.590046953992, 737.0742572739027, 447.65267133603396, 1601.7404891625135, 297.77623591856354, 454.03673871063285, 768.6080570763903, 779.6124482450243, 999.5098982668302, 925.9701136797171, 272.8944543888741, 935.4149636285953, 434.6461746380675, 415.23095009658334, 247.05709847821703, 272.7468345160691, 744.5398575868787, 809.0243193280089, 790.4011370496777, 1234.2192230648752, 414.5698440784332, 771.5261764606016, 597.7029545890274, 921.4335003403905, 587.7233770291735, 469.93203238780046, 640.6672782089762, 1793.965523209188, 588.3729940779789, 1032.1095392332286, 955.8935661298862, 634.8872554164568, 468.668485303395, 1021.0659325856304, 640.6672782089762, 636.3040464164756, 1484.6767986377818, 851.2742824818382, 658.0709657837392, 477.8477418438011, 414.5698440784332, 1120.5117125229121, 586.6759092018622, 694.6115364298722, 663.1696139183387, 1024.8768503264807, 240.26930288297675, 766.517819835366, 449.54599818413874, 467.96518465483604, 332.3010837384971, 259.8643988439993, 936.0297780838698, 1113.7902544642993, 997.9209280291409, 561.9158432146426, 2665.577083122531, 2403.045175287203, 838.3584147235605, 658.3183879768684, 1977.727228859557, 949.0794423826103, 465.5946145201172, 1007.582540367505, 402.69627291190216, 640.6672782089762, 148.45229683522234, 462.3651538066586, 1067.3809391616965, 656.2592658885848, 1084.0618322094815, 371.9328106336773, 237.23059288921996, 488.7096307977998, 221.37800264978793, 1165.7669140406042, 191.09641380096588, 760.7101300187868, 360.21436526286016, 1439.3126308812416, 155.19505559726719, 2560.8666110439444, 221.37800264978793, 1639.7147706030262, 1016.004080408934, 489.04900577585926, 952.3456307732035, 2784.4507952759677, 850.5312164557313, 859.7055846365744, 654.2922056718666, 416.8633720304054, 1455.5440756050427, 3213.9737291151005, 778.3850995065351, 1068.336005641289, 2732.420117719346, 929.559819855717, 217.66316982347564, 628.0772542112958, 490.43145958097347, 706.4838888015581, 651.9380659967356, 959.9196324959139, 1058.8378660197834, 1893.053189925173, 901.1493509942364, 2761.1856131382674, 4091.594338988757, 157.1625629198414, 769.0729759179181, 3858.1794110656597, 1358.7622476587017, 3800.4309660766135, 2166.9703406491417, 469.71558108697405, 2204.6599175880447, 1157.5760651875369, 704.4307402555598, 1159.078282649813, 2737.7552801082843, 1944.1689857036251, 1270.2010694276514, 2849.4849610161555, 468.9632979341759, 4092.3160132973853, 2227.151368238156, 4033.3536720819066, 297.6185457808626, 1763.3248205335015, 3382.575240237347, 1390.754354269479, 965.5461107796375, 1938.3087904094264, 2453.693723243935, 250.64333242427907, 268.1902083747875, 2371.4939433861546, 2298.832146651545, 242.0179724463081, 912.4214886601555, 346.62728909505114, 4176.593063030047, 127.87934194112295, 3242.5255754639948, 973.2586546356719, 1327.1509764691803, 417.2745690781937, 3165.23370967099, 604.0010443116538, 389.9337195036153, 334.7770072800001, 3090.372755602796, 913.5539814463203, 1171.214798003209, 282.6650560261262, 372.0226833428474, 2422.262553435148, 2184.6086957550056, 644.3225838758855, 1662.662696657145, 1479.0022430268514, 1225.658631603354, 1664.3853868590631, 1906.9161190850514, 841.510056687203, 386.5738255758434, 1387.601281122005, 1366.1611139172273, 5263.842382123959, 4958.523624568142, 280.26091078046176, 6334.387185529029, 3708.5928343541395, 898.2790566500497, 489.70286036111474, 7209.367607170335, 1744.9879704579862, 3785.250164134494, 1841.9539034152897, 3277.5254469127126, 3983.638825440406, 1067.3273693475087, 173.6345076753075, 6258.703385577476, 5356.832948381145, 904.0484933355548, 3564.3650697417547, 2397.7467396069383, 1043.7000235756134, 4996.178724590807, 6111.289030811933, 5035.267561545864, 478.7230304377412, 3261.272318837173, 1303.001399121154, 133.93092027979048, 372.0360218956924, 196.28747204581578, 293.0591014058642, 365.8977154976768, 207.9242142977972, 283.82428908752144, 1111.821474532481, 1021.062231011425, 285.0916521193666, 1052.37153094754, 424.86193418673383, 1116.2102731714922, 312.3247100542655, 113.70969014749022, 421.9954511289498, 1102.0520305412442, 305.9459913256848, 169.20290727460477, 331.11831664900967, 333.55773564893855, 354.512051745331, 1090.3362576976147, 286.08864335472583, 304.9027228913801, 317.63432928798403, 867.2189432036035, 308.97022357862494, 1158.6342155755606, 316.4630569952981, 380.99471067505493, 1124.6089164521986, 317.9949351477532, 205.6791995304917, 181.1666355132142, 466.44658800406023, 1179.6218619549236, 1098.6766063772484, 547.5444929498939, 439.12814128764325, 694.7245809887371, 282.0807808998928, 365.88472091625164, 378.0006966238947, 730.1270428040165, 291.90249854895717, 341.67570170375734, 326.73609792241217, 257.9541119294793, 414.29623540325576, 492.25614710827966, 350.3245156048834, 388.5241834641264, 344.41818068992944, 391.88094877404086, 532.6342093186382, 644.6661012692222, 327.4062448812956, 352.17906640284116, 571.2945901225016, 325.7719808256165, 193.82106266613295, 416.53634207712605, 389.72656059239745, 339.88510227922484, 14.054281819869958, 13.747945226640846, 85.1447955462089, 12.471535365662136, 42.20670248048826, 24.74230087890269, 34.67777094742958, 28.6648335903201, 12.254617189154857, 26.740052784268688, 3.1439867977461544, 39.69685353101615, 80.81679746373517, 10.303455533272121, 4.324345232661935, 3.1537818843132612, 35.050524983675686, 46.06760135986841, 15.573631150020187, 53.9017346119013, 10.635944951425467, 107.20758052826318, 13.73371022229037, 20.565898366231025, 29.523659373538024, 18.6107697427644, 41.82491409127285, 49.65987473283397, 16.32359922385946, 2.694222421368674, 56.29041151003052, 32.154481489629326, 28.371606335841864, 16.503469179512482, 16.350769002287713, 40.206397075162755, 17.711685993830656, 8.279184915388019, 12.291061555275139, 21.402068030939205, 14.198066323634311, 78.92125876703557, 28.08845720848002, 13.115439366281405, 21.387855093265504, 3.110375727585753, 34.73946840591703, 16.404631677218283, 19.29776645232096, 22.085001654370014, 57.930960979678375, 89.23236675591541, 15.41581669552207, 64.87054266870483, 53.10234824241086, 43.732574699406186, 13.264433059538264, 33.15693609901195, 83.92725269201347]
[2340.0899999999997, 1024.25, 2039.1499999999994, 6225.200000000001, 839.6119999999995, 47.40499999999999, 1538.9799999999996, 470.0500000000002, 286.95399999999984, 5014.069999999998, 553.0000000000001, 5222.420000000003, 1846.4199999999994, 245.00000000000009, 1.0, 3120.8700000000013, 56.02150000000001, 173.7, 1296.5599999999995, 1.0, 1334.4599999999998, 35.99199999999999, 998.1529999999996, 679.6899999999998, 1993.999999999999, 2893.739999999999, 1.0, 2177.969999999999, 533.612, 4996.049999999999, 2249.39, 1.0, 639.0000000000001, 144.98000000000005, 99.99000000000001, 115.74199999999998, 26.392000000000003, 50.12449999999999, 1.0, 1.0, 2634.2100000000005, 201.13700000000009, 2297.7700000000004, 5555.310000000003, 207.23000000000002, 94.99049999999997, 171.38900000000004, 3456.2399999999984, 101.14999999999999, 1.0, 797.5199999999995, 220.5, 1.0, 92.65000000000002, 627.8570000000001, 553.0000000000001, 1979.9099999999996, 2347.179999999999, 254.15, 1917.0899999999995, 1662.53, 3399.3000000000006, 2419.7500000000014, 1.0, 7812.0899999999965, 1078.1300000000006, 4910.000000000002, 628.1499999999999, 143.93499999999995, 1.0, 66.56400000000001, 181.52000000000007, 428.3490000000001, 2050.140000000001, 58.32000000000001, 359.1, 992.4419999999999, 470.0500000000002, 242.3199999999999, 1.0, 1.0, 154.39999999999995, 42.41499999999999, 2482.1300000000015, 53.07299999999999, 52.00299999999999, 1505.2800000000002, 618.0, 1207.9600000000003, 58.970000000000006, 236.874, 94.99049999999997, 165.864, 1792.13, 1477.6599999999999, 256.7, 10121.199999999992, 2328.3400000000006, 169.983, 207.32999999999993, 768.1999999999997, 489.57599999999974, 2829.7299999999987, 1946.069999999999, 1759.7299999999996, 163.329, 2199.9, 3588.1500000000005, 2199.9, 5216.550000000003, 1707.6100000000001, 718.8639999999996, 1.0, 1957.1999999999994, 2359.9600000000005, 1.0, 1108.3699999999994, 4003.289999999999, 7288.790000000002, 76.89999999999999, 87.19999999999997, 3959.960000000001, 89.99099999999999, 4794.3200000000015, 53.07299999999999, 666.2679999999998, 6019.130000000001, 1.0, 1.0, 4433.649999999998, 1.0, 3966.2499999999977, 346.2000000000001, 2234.5199999999995, 161.48300000000003, 4850.759999999999, 1853.619999999999, 446.4150000000001, 1.0, 692.641, 11940.9, 213.35399999999996, 1.0, 53.07299999999999, 14147.00000000001, 639.3639999999999, 55.20000000000001, 7465.800000000004, 50.915, 294.14999999999986, 1.0, 4991.44, 1.0, 646.2939999999999, 1.0, 404.58199999999994, 63.12000000000001, 2159.1000000000004, 579.7, 7733.990000000001, 1244.1099999999992, 201.30000000000007, 94.99049999999997, 1.0, 2191.7799999999997, 236.423, 68.99999999999999, 2188.939999999999, 1835.770000000001, 139.98999999999998, 2282.2799999999993, 1699.4299999999998, 199.75000000000006, 121.39200000000005, 4217.240000000002, 50.12449999999999, 2499.6200000000013, 2145.7, 836.5839999999996, 38.61000000000001, 1894.5699999999997, 103.55, 1.0, 759.8699999999997, 580.0980000000003, 542.6910000000003, 276.4509999999999, 2089.899999999999, 2223.630000000001, 1062.74, 3840.4899999999993, 6487.709999999998, 3107.049999999999, 64.8, 7369.980000000003, 1.0, 1702.7199999999996, 1.0, 4092.5899999999992, 1.0, 4608.180000000001, 96.9835, 2611.3999999999987, 1869.91, 1.0, 3896.5700000000006, 662.0000000000002, 2506.02, 292.99000000000007, 1979.5599999999997, 2787.07, 6273.680000000003, 197.50499999999994, 7550.789999999997, 1956.9400000000005, 1.0, 34.10999999999999, 395.8589999999999, 9611.160000000003, 649.8000000000003, 2561.4200000000005, 2504.8899999999994, 38.24150000000001, 1969.4699999999996, 972.2120000000003, 650.442, 1691.29, 455.2800000000001, 1969.4699999999996, 1759.8400000000006, 4837.3899999999985, 1786.3099999999995, 4883.560000000001, 63.12000000000001, 1872.7600000000004, 292.3500000000001, 134.90099999999998, 7500.009999999998, 6918.839999999997, 12.741500000000002, 94.99049999999997, 861.4829999999998, 2937.639999999999, 934.4029999999996, 298.78399999999993, 339.14999999999986, 497.69999999999993, 930.319, 127.99400000000004, 4776.33, 7231.7800000000025, 154.39999999999995, 171.40599999999995, 53.91, 1.0, 1.0, 207.32999999999993, 704.5760000000002, 595.9000000000001, 87.01149999999998, 2206.2900000000004, 1.0, 477.8999999999998, 63.99500000000002, 1285.6099999999994, 1.0, 5189.3, 2399.000000000001, 92.65000000000002, 543.1500000000002, 832.7499999999999, 1.0, 584.0000000000002, 618.9019999999999, 63.12000000000001, 4029.3700000000013, 274.03400000000005, 99.99000000000001, 824.3449999999997, 1694.2399999999998, 8074.480000000001, 1.0, 2252.140000000001, 534.7999999999998, 2859.959999999999, 53.07299999999999, 94.99049999999997, 876.4209999999997, 34.31999999999999, 28.0415, 2578.2000000000003, 245.41300000000004, 3613.409999999999, 1726.12, 10130.300000000007, 7418.099999999999, 2786.8900000000003, 2460.179999999999, 142.48200000000006, 3648.3100000000013, 10260.99999999999, 165.864, 6443.25, 107.09999999999992, 1.0, 8269.630000000001, 2258.789999999999, 432.49999999999994, 1.0, 220.9670000000001, 2926.729999999999, 319.19999999999993, 5892.709999999999, 87.19999999999997, 3023.780000000001, 1005.3099999999997, 739.8620000000002, 2699.959999999999, 1101.0200000000002, 1.0, 186.59700000000007, 1866.109999999999, 1086.6100000000001, 50.12449999999999, 74.95499999999998, 1.0, 1002.1900000000005, 1453.5800000000006, 640.0329999999998, 1.0, 1794.2399999999993, 73.055, 4167.819999999999, 163.89199999999997, 289.8000000000001, 2177.969999999999, 2664.3800000000006, 185.91199999999995, 1702.4199999999994, 49.491, 6338.1399999999985, 471.98700000000014, 239.73200000000003, 1.0, 1885.9799999999989, 3170.3399999999997, 696.8330000000001, 2370.8, 830.1630000000004, 186.59700000000007, 1.0, 2168.310000000001, 487.3899999999999, 1203.16, 9842.759999999998, 64.8, 2047.0799999999992, 912.6620000000003, 2165.6499999999996, 170.61500000000004, 896.5940000000002, 3984.3299999999995, 14394.999999999996, 1180.3800000000003, 6945.749999999999, 2453.919999999999, 1.0, 1.0, 8169.92, 4876.55, 502.0879999999999, 2138.6, 2618.09, 2694.9400000000014, 3729.4500000000007, 6044.609999999997, 5355.660000000001, 567.2400000000002, 9988.939999999995, 524.0420000000001, 1976.010000000001, 3764.809999999999, 640.008, 157.74099999999996, 1920.0400000000002, 1.0, 3846.12, 3539.6400000000003, 1.0, 1079.0, 58.970000000000006, 3688.930000000001, 893.6080000000003, 1.0, 5756.699999999997, 442.39999999999975, 1.0, 264.03199999999987, 210.47499999999997, 5768.619999999999, 591.3110000000001, 2850.1699999999996, 4064.769999999998, 4386.190000000001, 1.0, 1261.62, 5776.039999999999, 1046.4799999999998, 702.0500000000001, 196.964, 634.342, 1354.7299999999998, 497.69999999999993, 116.81100000000006, 43.99199999999998, 1.0, 675.9239999999999, 4342.98, 5920.55, 1584.3099999999993, 381.6410000000002, 1034.68, 9435.180000000004, 49.99000000000001, 509.521, 1017.3499999999998, 8215.769999999997, 1169.44, 1096.7400000000005, 16718.399999999994, 469.83100000000024, 460.4449999999999, 31.340499999999995, 40161.900000000016, 3718.26, 2795.2499999999986, 2240.9500000000003, 6064.279999999996, 28054.000000000015, 6362.499999999997, 5145.120000000002, 10428.999999999993, 1645.9100000000003, 17523.200000000015, 750.5649999999997, 1.0, 2087.570000000001, 47.176, 1752.6699999999996, 1552.5899999999997, 103.2, 123.66800000000002, 562.6999999999998, 591.6179999999999, 47.176, 120.52999999999994, 1.0, 6528.169999999998, 1.0, 3616.879999999999, 94.99049999999997, 4849.25, 4818.090000000001, 132.99099999999999, 3268.4799999999996, 288.32099999999986, 145.09299999999996, 9698.059999999996, 7985.8099999999995, 1875.9400000000007, 6493.1500000000015, 1900.7899999999995, 63.286000000000016, 410.502, 3555.249999999999, 1741.2199999999993, 1832.5000000000007, 636.8020000000002, 1.0, 359.6700000000001, 1869.91, 124.68200000000003, 1.0, 1919.1999999999996, 68.99999999999999, 407.45099999999985, 668.7149999999998, 1.0, 63.489999999999995, 910.5670000000001, 1.0, 4794.28, 3181.2700000000013, 64.8, 1055.7299999999996, 363.74699999999996, 822.1699999999997, 3839.379999999999, 401.06500000000005, 99.99000000000001, 4553.4000000000015, 1.0, 839.131, 1.0, 3918.6599999999985, 3707.159999999999, 3588.1500000000005, 6372.409999999998, 1.0, 1171.5500000000004, 1.0, 1.0, 724.5809999999999, 588.031, 1891.2899999999993, 1.0, 261.9760000000001, 224.09999999999994, 1.0, 63.12000000000001, 628.1499999999999, 1.0, 2199.9, 3207.16, 1.0, 1.0, 442.39999999999975, 1.0, 1.0, 44.989999999999995, 32.99000000000001, 1.0, 64.8, 1.0, 4368.1, 1.0, 1.0, 1.0, 1.0, 1.0, 51.84000000000002, 639.0000000000001, 2304.7200000000003, 1.0, 1.0, 1.0, 1843.6499999999999, 604.5910000000002, 150.53299999999996, 1.0, 1.0, 73.55199999999998, 1.0, 76.89999999999999, 1.0, 1.0, 1184.3400000000004, 1.0, 1.0, 183.35, 165.864, 442.39999999999975, 1.0, 2555.3799999999987, 1.0, 65.55, 1.0, 1.0, 100.56400000000001]

###Wnioski

Wnioskujemy, że dobór bardziej skomplikowanych modeli nie poprawiłby jakości przewidywań. Wynikałoby to prawdopodobnie z tego, że informacja wzajemna pomiędzy danymi wejściowymi a wyjściowymi jest zbyt mała by osiągnąć lepsze rezultaty. Dene wyznaczają granice dokładności dla której błąd średniokwadratowy wynosi 1.3.

## Aplikacja w formie mikroserwisu

Planowana była realizacja serwisu przy pomocy frameworka *Flask* w języku Python. Zapytania do serwera przybierałyby następującą postać: http://localhost:5000/user_id/201/month/3/year/2022.

Do wykonania przewidywania potrzebna jest dana wejściowa oraz wytrenowany model. Po zapytaniu serwer ładowałby odpowiedni model z pliku i na podstawie id użytkownika i miesiąca przygotowywałby daną w wymaganej formie. 

Odpowiedzi serwer zwracałby w następującej formie:

    {

    "id_użytkownika": 201,

    "month": 3,

    "year": 2022,

    "spent_money_next_month": 979.99

    "model_type": "Elastic_net"

    }

#### Eksperyment A/B

W celu umożliwienia przeprowadzenia eksperymentu A/B, podzielilibyśmy użytkowników na trzy grupy pod względem ich id. Dla każdej z grup generowalibyśmy predykcje z innego modelu (zwykły model liniowy, *Elastic net* albo *SVR*). Przy okazji odpowiedzi serwera, na serwerze zapisywane byłyby logi z zapytania, które umożliwiłyby przeprowadzenie eksperymentu A/B.

### Czego się nauczyliśmy

- analizy danych pod kątem trenowania na nich modeli
- procesu formułowania problemu zadania modelowania 
- podstaw języka python
- zastosowania biblioteki *Pandas*, *sklearn*, *numpy*
- pracy w *Google Colab*, w którym powstał ten dokument
- obróbki danych w excelu
- dane stanowią granicę tego jaką skuteczność może osiągnąć model